* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #99BAB9, #a78553);
    font-family: Arial, sans-serif;
}


.login-container {
     width: 350px;
    margin: 100px auto;
    text-align: center;
    color: #000;
}

.login-container h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.login-text {
    font-size: 14px;
    margin-bottom: 40px;
}

.login-text a {
    color: blue;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

form {
    width: 100%;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    outline: none;
}

form input::placeholder {
    color: #555;
}

button {
    margin-top: 10px;
    padding: 10px 35px;
    border-radius: 25px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
}

button:hover {
    background: #000;
    color: #fff;
}

.terms {
    font-size: 10px;
    margin-top: 40px;
    color: #111;
}
/* Responsive Design */

@media (max-width: 500px) {

    .login-container h1 {
        font-size: 38px;
    }

    form input {
        padding: 12px 8px;
    }

    button {
        width: 100%;
    }
}